html, body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #555;
  font-weight: 300;
  font-family:"RobotoDraft", Helvetica, Arial, sans-serif;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.left{float: left;}
.right{float: right;}

p{
  display: block;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4{
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
}
h1, h2{
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
}
pre, code{
  display: block;
  margin: 0;
  padding: 0;
}
code{
  background: #FFF!important;
  border: 1px solid gainsboro;
  border-radius: 0px;
  margin:0px;
  padding: 10px;
}
pre[class*="language-"]{
  padding: 0!important;
  margin: 0!important;
}
a{
  /*font-style: italic;*/
  color: #9b2d58;
}
ul li{
  list-style: none;
}


header{
  background-color: #9b2d58;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80px;
  color: #DDD;
  font-weight: 300;
}
header span.logo{
  float: left;
  font-size: 30px;
  padding: 10px 0px 0px 85px;
  position: relative;
}
header span.logo .version{
  font-size: 12px;
  position: absolute;
  right: -15px;
  bottom: -7px;
}
header ul{
  float: right;
  margin: 0;
  padding: 0;
}
header ul li{
  list-style:none;
  float: left;
  height: 100%;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
header ul li.active{
  /*background-color: #505de3*/
  background-color: #f5f5f5;
  color: #999;
}
header ul li a{
  color: #DDD;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 20px;
}
header ul li.active a{
  color: #999;
}

header ul li.active:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(245, 245, 245, 0);
  border-bottom-color: #f5f5f5;
  border-width: 12px;
  margin-left: -12px;
}

#content{
  width: 1200px;
  margin: 50px auto;
}
#content div{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#about-left{
  width: 49%;
  margin-top: 15px;
}
#about-right{
  width: 45%;
}
#install-tidbit{
  padding-top: 20px;
}
#install-tidbit h3 a{
  font-size: 14px;
  padding-top: 6px;
}
h1 span.operator{
  color: #9b2d58;
  font-weight: 400;
}
h1 span.paren{
  color: #6e76b4;
  font-weight: 400;
}
span.code{
  background-color: #FCE9E9;
  padding: 0px 5px;
  font-weight: 400;
}
span.code-block{
  display: block;
  margin: 8px 0px;
  padding: 4px;
  border: 1px solid #EEE;
  background-color: #FFF;
  font-family: consolas;
}
span.code-block .hl-gray{
  color: #999;
}
span.code-block .hl-red{
  color: #9b2d58;
}
/**/

ul#features li{
  list-style: none;
  padding: 4px 0;
  position: relative;
}
ul#features li:before{
  content: '-';
  position: absolute;
  left: -20px;

}

#demo h3{
  margin-bottom: 10px;
}
#demo-left, #demo-right{
  width: 49.5%;
}
#live-preview{

}
#demo-code-wrap{
  margin-top: 40px;
}
#demo-code{
  background-color: #FFF;
  border: 1px solid gainsboro;
}
#demo-code h4{
  background-color: #fdfdfd;
  border-bottom: 1px dashed #eee;
  padding: 5px;
}
#demo-code #code-left,
#demo-code #code-right{
  width: 50%;
  float: left;
}
#demo-code #code-left{
  border-right: 1px dashed #d5d5d5;
}
#demo-code #code-right{
  border-left: 1px dashed #d5d5d5;
  margin-left: -1px;
}
#demo-code code{
  border: 0;
  padding: 10px;
}

/*** DOCS ***/
ul#doc-items{
  position: absolute;
  width: 300px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  border-right: 1px solid #CCC;
}
ul#doc-items li{
  padding: 0;
  margin: 0;
  color: #6e76b4;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
ul#doc-items li:not(.head):hover{
  color: #9b2d58;  
}
ul#doc-items li.head{
  font-weight: 700;
  padding:15px 0px 2px 0px;
  color: inherit;
  cursor: default;
}
ul#doc-items li.active{
  color: #9b2d58;
  border-right: 4px solid #DDD;
  border-bottom: 1px solid #DDD;
}
div#doc-content{
  margin-left: 300px;
  margin-top: 40px;
  border-left: 1px solid #CCC;
  padding: 0 20px 400px 50px;
}
div#doc-content a[target]{
  padding-top: 25px;
  display: inline-block;
}
p,
div.p{
  margin: 15px 0;
  font-size: 15px;
}
div#doc-content code{
  margin: 20px 0;
  padding: 5px 8px;
}

div.block{
  margin: 20px 0px 60px 0px;
}
div.block:first-child{
  margin: 0;
}
div.method,
div.event{
  margin: 20px 0 40px 0;
}
p#about-methods,
p#about-events{
  /*font-style: italic;*/
  padding: 5px 0;
}
div.method h3,
div.event h3{
  margin: 0;
  padding: 5px 5px 5px 0px;
  border-bottom: 1px dashed #CCC;
  color: #6e76b4;
  font-family: consolas;
}
div.method h3 .param{
  color: #9b2d58;
}
div.method div{
  font-size: 15px;
}
.method div p,
.event p{
  padding: 0;
  margin: 10px 0;
}
div.method .io{
  background: #FFF;
}
div.method .io .param,
div.method .io .return{
  position: relative;
  /*padding:5px 5px 5px 35px;*/
  padding-left: 35px;
  border-bottom: 1px dashed #EEE;
}
div.method .io .param:last-child,
div.method .io .return:last-child{
  border-bottom: 0;
}

div.method .io .param:before,
div.method .io .return:before{
  content: '';
  display: table;
  position: absolute;
  left: 4px;
  top: 5px;
  bottom: 0;
  background-image: url(images/arrow-right.png);
  background-position:0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 16px;
}
div.method .io .return:before{
  background-image: url(images/arrow-left.png);
}


div.method .io .param .name,
div.method .io .return .type{
  font-weight: 700;
}
div.method .io .desc{
}
.block .detail{
  border: 1px solid #DDD;
  background-color: #FFF;
}
.block .detail h4,
.io h4{
  border-bottom: 1px dashed #DDD;
  padding:3px 5px;
}
.block .detail div{
  font-size: 14px;
}
.block .detail div span{
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
.block .detail div span,
div.method .io .param .name,
div.method .io .return .type{
  float: left;
  width: 15%;
  border-right: 1px solid #eee;
  vertical-align: top;
  padding: 5px;
  text-align: right;
  word-wrap:break-word;
}
.block .detail div p,
div.method .io .desc{
  float: left;
  width: 75%;
  padding: 5px;
  margin: 0;
  margin-left: -1px;
  border-left: 1px solid #eee;
  font-size: 14px;
}



















































